/* body {
    background-color: rgb(48, 221, 198);
  }
  
  div[data-testid="stMarkdownContainer"] > div:first-of-type {
    background-color: red;
  }
  divr[data-testid="stVerticalBlock"]  {
    background-color: rgb(124, 53, 53);
  }
  .element-container {
    background-color: rgb(157, 212, 226);
  }

   */